.chat-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #3b5998;
}

.header {
  background-color: #3b5998;
  color: white;
  width: 100%;
  text-align: center;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  width: 100%;
  margin-bottom: 10px;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
  width: fit-content;
  padding: 4px;
  border-radius: 5px;
  background-color: rgb(156, 232, 255);
}
.timestamp {
  font-size: 10px;
  text-align: start;
}

.user {
  font-weight: bold;
  margin-right: 10px;
  color: #333;
}

.new-message-form {
  display: flex;
  width: 100%;
  padding: 6px;
  gap: 4px;
}

.new-message-input {
  /* flex: 1; */
  width: 100%;
  border: 1px solid #3b5998;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #333;
  padding: 10px;
  border-radius: 5px;
}

.send-button {
  border: none;
  outline: none;
  background: #3b5998;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 0 14px;
  border-radius: 6px;
}
